@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
.font_borel {
    font-family: 'Borel', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Red+Hat+Text:wght@300&family=Staatliches&display=swap');
.font_blackHanSan {
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Red Hat Text', sans-serif;
    font-family: 'Staatliches', cursive;
}