* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-image: linear-gradient(60deg, rgb(59, 20, 233), rgb(18, 12, 83));
    color: aliceblue;
}
.title {
    margin: 0 auto;
}
.card {
    margin: 0 auto;
    padding: 10px;
    width: 80vw;
    height: 45vw;
    /* 가져온거 */
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.classImpormaition {
    margin: 20px;
}
.details {
    text-shadow: 0 2px 4px rgba(71,97,206,.36);
}